/*layout.css--------------------*/
/*outlines--------------------*/


/*global------------------------*/
body {
    display:flex;
    flex-direction:column;
    height:98vh;
    width:auto;
}
.header {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.navbuttons {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-left: auto;
}
h2 {
    text-align:center;
}
/*index*/
.loginform {
    display:flex;
    flex-direction:column;
    align-items:center;
}
/*dashboard*/
.dashlink {
    display: inline-block;
    padding: 16px 32px;
    margin: 20px 0;
}
/*students*/
.studenttable {
    display:flex;
    justify-content: center;
}
.addstudentbutton {
    margin-top: 50px;
}
/*addstudent*/
.addstudent {
    display:flex;
    flex-direction:column;
    align-items:center;
}
.addstudent form {
    margin-top:20px;
    padding:20px;
}
/*editstudent*/
.editstudent {
    display:flex;
    flex-direction:column;
    align-items:center;
}
.editstudent form {
    margin-top:20px;
    padding:20px;
}
/*comment out section vvvvv -----
* {outline: 1px solid gray;}



------------------------------*/
