/*style.css------------------*/
/*global---------------------------*/
*.light-theme {
    background-color: wheat;
    color: charcoal;
}
*.dark-theme {
    background-color: rgb(83, 83, 83);
    color: whitesmoke;
}

/*index*/

/*dashboard*/

/*students*/

/*addstudent*/
.addstudentform {
    border:2px solid black;
    margin-top:20px;
    padding:20px;
}

/*editstudent*/
.editstudentform {
    border:2px solid black;
    margin-top:20px;
    padding:20px;
}
/*comment out section vvvvv ------

body {background-color:red;}
p {color:blue;}






-------------------------------------*/